<div class="container">

    <h1 class="text-center my-5"><span appHighlight>DIVENTA UN AUTORE</span> crea il tuo primo post</h1>
    <!---PULSANTI--->
    <div class="row d-flex text-center">
        <div class="col-md-6">
            <a class="btn btn-primary ms-2" [routerLink]="['/post/attivi']">Vai a post attivi</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary ms-2" [routerLink]="['/post/inattivi']">Vai a post inattivi</a>
        </div>
    </div>
    <!---FORM--->
    <form #postForm="ngForm" (ngSubmit)="getData(postForm.value)" class="mt-5 p-3 border rounded border-primary">
        <div class="justify-content-center p-5">
            <div class="col-12">
                <label for="inputTitle" class="form-label">Titolo del post</label>
                <input type="text" ngModel name="title" class="form-control" placeholder="Inserirsci il titolo del post ">
            </div>
            <div class="col-12 mt-3">
                <label for="inputBody" class="form-label">Scrivi il tuo post</label>
                <textarea ngModel name="body" class="form-control" rows="3"
                    placeholder="Scrivi qui il tuo post"></textarea>
            </div>

            <div class="form-check form-switch mt-3">
                <input class="form-check-input" ngModel name="active" type="checkbox" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Attiva</label>
            </div>

            <div class="col-12 mt-3">
                <label for="inputAuthor" class="form-label">Autore</label>
                <input type="text" ngModel name="author" class="form-control" placeholder="Inserirsci il tuo nome">
            </div>

            <div class="col-md-3 mt-3">
                <label for="inputState" class="form-label">A quale genere appartiene il tuo post?</label>
                <select ngModel name="type" class="form-select">
                    <option selected="education">education</option>
                    <option value="news">news</option>
                    <option value="politic">politic</option>
                </select>
            </div>

            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">pubblica</button>
            </div>
        </div>
    </form>
</div>
